In [1]:
from dwave.system import DWaveSampler, LeapHybridSampler, LeapHybridCQMSampler
from datasetgenerator import DatasetGenerator
import pandas as pd
import numpy as np

dsg = DatasetGenerator(max_length=500, available_car_speeds=[60, 70], charging_speed=22)
length, nodes, stations, chargers = dsg.generate_highway(100)
car_info = dsg.generate_car_types(2)
instance = dsg.generate_car_instances(10.0, 0.1)

speeds = pd.DataFrame({'speed': dsg.available_car_speeds})
stations = pd.DataFrame({'station_index': range(len(stations)), 'station_kilometer':stations})

In [2]:
car_info

   capacity   60   70
0        28  189  217
1        29   89  128

In [3]:
stations

   station_index  station_kilometer
0              0                 29
1              1                 39
2              2                 46
3              3                 77
4              4                 95

In [4]:
chargers

array([2, 3, 3, 3, 3])

In [5]:
nodes

array([  0,  12,  16,  26,  28,  56,  75,  79, 100])

In [6]:
instance['original'] = instance.index
instance

,car_type,entry_node_index,entry_timestamp,exit_node_index,entry_energy,original
0,1,0,1084,6,0.15,0
1,0,0,4114,5,0.75,1
2,1,4,4976,5,0.64,2
3,1,2,4605,5,0.61,3
4,1,4,6338,5,0.66,4
5,1,4,4959,6,0.52,5
6,1,2,3701,8,0.56,6
7,1,3,5776,5,0.73,7
8,1,3,1613,8,0.45,8
9,1,2,1867,7,0.53,9
10,1,4,6054,7,0.60,10
11,1,4,4041,7,0.93,11
12,1,5,1796,8,0.30,12
13,1,3,3310,8,0.91,13
14,1,1,0,8,0.33,14
15,0,5,3262,8,0.77,15
16,0,4,3563,6,0.28,16
17,1,5,4312,8,0.83,17
18,0,1,1793,5,0.35,18

In [7]:
im = instance.copy(deep=True)
im['entry_kilometer'] = nodes[im['entry_node_index']]
im['exit_kilometer'] = nodes[im['exit_node_index']]
im = im.merge(speeds, how='cross').merge(stations, how='cross')

im = (im[im['entry_kilometer'] <= im['station_kilometer']]).reset_index(drop=True)

im['station_timestamp'] = ((im['entry_timestamp']/3600 + ((im['station_kilometer'] - im['entry_kilometer']) / im['speed'] )) * 3600).round().astype(int)
burn = pd.Series(car_info.lookup(im['car_type'],im['speed']))
im['station_energy'] = car_info['capacity'][im['car_type']].reset_index(drop=True) * im['entry_energy'] 
im['station_energy'] -= (burn * (im['station_kilometer'] - im['entry_kilometer']) / 1000)
im['station_energy'] /= car_info['capacity'][im['car_type']].reset_index(drop=True)
im['charging_time'] = (1 - im['station_energy']) * car_info['capacity'][im['car_type']].reset_index(drop=True) / dsg.charging_speed * 3600
im['max_kilometers'] = car_info['capacity'][im['car_type']].reset_index(drop=True)*im['entry_energy'] / (pd.Series(car_info.lookup(im['car_type'],im['speed']))/1000)
im = im[im['station_energy'] > 0.].reset_index(drop=True)
im

/var/folders/lm/82v1hmrn6cb4hwwgl4vch8bc0000gp/T/ipykernel_83921/1347448332.py:9: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  burn = pd.Series(car_info.lookup(im['car_type'],im['speed']))
/var/folders/lm/82v1hmrn6cb4hwwgl4vch8bc0000gp/T/ipykernel_83921/1347448332.py:14: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  im['max_kilometers'] = car_info['capacity'][im['car_type']].reset_index(drop=True)*im['entry_energy'] / (pd.Series(car_info.lookup(im['car_type'],im['speed']))/1000)

,car_type,entry_node_index,entry_timestamp,exit_node_index,entry_energy,original,entry_kilometer,exit_kilometer,speed,station_index,station_kilometer,station_timestamp,station_energy,charging_time,max_kilometers
0,1,0,1084,6,0.15,0,0,75,60,0,29,2824,0.061000,4455.981818,48.876404
1,1,0,1084,6,0.15,0,0,75,60,1,39,3424,0.030310,4601.618182,48.876404
2,1,0,1084,6,0.15,0,0,75,60,2,46,3844,0.008828,4703.563636,48.876404
3,1,0,1084,6,0.15,0,0,75,70,0,29,2575,0.022000,4641.054545,33.984375
4,0,0,4114,5,0.75,1,0,56,60,0,29,5854,0.554250,2042.345455,111.111111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,0,1,1793,5,0.35,18,12,56,60,1,39,3413,0.167750,3813.218182,51.851852
153,0,1,1793,5,0.35,18,12,56,60,2,46,3833,0.120500,4029.709091,51.851852
154,0,1,1793,5,0.35,18,12,56,70,0,29,2667,0.218250,3581.836364,45.161290
155,0,1,1793,5,0.35,18,12,56,70,1,39,3182,0.140750,3936.927273,45.161290
156,0,1,1793,5,0.35,18,12,56,70,2,46,3542,0.086500,4185.490909,45.161290

In [8]:
collision_matrix = np.zeros((im.shape[0], im.shape[0]))

for index1, row1 in im.iterrows():
    for index2, row2 in im.iterrows():
        if index2 <= index1:
            continue
        # first to come should be row1
        if row2['station_timestamp'] >= row1['station_timestamp']:
            if row2['station_timestamp'] - row1['station_timestamp'] < row1['charging_time']:
                collision_matrix[index1][index2] = collision_matrix[index2][index1] = 1
        else:
            if row1['station_timestamp'] - row2['station_timestamp'] < row2['charging_time']:
                collision_matrix[index1][index2] = collision_matrix[index2][index1] = 1
            
collision_matrix

array([[0., 1., 1., ..., 1., 1., 1.],
       [1., 0., 1., ..., 1., 1., 1.],
       [1., 1., 0., ..., 1., 1., 1.],
       ...,
       [1., 1., 1., ..., 0., 1., 1.],
       [1., 1., 1., ..., 1., 0., 1.],
       [1., 1., 1., ..., 1., 1., 0.]])

In [9]:
from annealing import matrix_to_bqm, bqm_to_sampleset, matrix_to_cqm, cqm_to_sampleset
bqm = matrix_to_bqm(im, collision_matrix)
sampleset = bqm_to_sampleset(bqm)
print(sampleset.first.sample)
print(sampleset.first.energy)

cqm = matrix_to_cqm(im, collision_matrix, chargers)
sampleset = cqm_to_sampleset(cqm)
print(sampleset.first.sample)
print(sampleset.first.energy)

{'0': 0, '1': 0, '10': 0, '100': 0, '101': 0, '102': 0, '103': 0, '104': 0, '105': 0, '106': 0, '107': 0, '108': 0, '109': 0, '11': 0, '110': 1, '111': 0, '112': 0, '113': 0, '114': 0, '115': 0, '116': 0, '117': 0, '118': 0, '119': 0, '12': 0, '120': 1, '121': 0, '122': 0, '123': 0, '124': 0, '125': 0, '126': 0, '127': 0, '128': 0, '129': 0, '13': 0, '130': 0, '131': 0, '132': 0, '133': 1, '134': 0, '135': 0, '136': 0, '137': 0, '138': 0, '139': 0, '14': 0, '140': 0, '141': 0, '142': 0, '143': 0, '144': 0, '145': 0, '146': 0, '147': 0, '148': 0, '149': 1, '15': 0, '150': 0, '151': 0, '152': 0, '153': 0, '154': 0, '155': 0, '156': 0, '16': 0, '17': 0, '18': 1, '19': 0, '2': 0, '20': 0, '21': 0, '22': 0, '23': 0, '24': 0, '25': 0, '26': 0, '27': 0, '28': 1, '29': 0, '3': 0, '30': 0, '31': 0, '32': 0, '33': 0, '34': 0, '35': 0, '36': 0, '37': 0, '38': 0, '39': 0, '4': 0, '40': 1, '41': 0, '42': 0, '43': 0, '44': 0, '45': 0, '46': 0, '47': 0, '48': 0, '49': 0, '5': 0, '50': 0, '51': 0, '52': 0, '53': 0, '54': 0, '55': 0, '56': 0, '57': 0, '58': 0, '59': 0, '6': 0, '60': 0, '61': 0, '62': 0, '63': 0, '64': 0, '65': 0, '66': 1, '67': 0, '68': 0, '69': 0, '7': 0, '70': 0, '71': 0, '72': 0, '73': 0, '74': 0, '75': 0, '76': 0, '77': 0, '78': 0, '79': 1, '8': 0, '80': 0, '81': 0, '82': 0, '83': 0, '84': 0, '85': 0, '86': 0, '87': 0, '88': 0, '89': 0, '9': 0, '90': 0, '91': 0, '92': 0, '93': 0, '94': 0, '95': 1, '96': 0, '97': 0, '98': 0, '99': 0}
24.0
{'0': 1.0, '1': 0.0, '10': 0.0, '100': 0.0, '101': 0.0, '102': 0.0, '103': 0.0, '104': 0.0, '105': 0.0, '106': 0.0, '107': 0.0, '108': 0.0, '109': 0.0, '11': 0.0, '110': 0.0, '111': 0.0, '112': 0.0, '113': 0.0, '114': 0.0, '115': 0.0, '116': 0.0, '117': 0.0, '118': 0.0, '119': 0.0, '12': 0.0, '120': 0.0, '121': 0.0, '122': 0.0, '123': 0.0, '124': 0.0, '125': 0.0, '126': 0.0, '127': 0.0, '128': 0.0, '129': 0.0, '13': 0.0, '130': 1.0, '131': 0.0, '132': 0.0, '133': 0.0, '134': 0.0, '135': 0.0, '136': 0.0, '137': 0.0, '138': 0.0, '139': 0.0, '14': 0.0, '140': 0.0, '141': 0.0, '142': 1.0, '143': 0.0, '144': 0.0, '145': 0.0, '146': 0.0, '147': 0.0, '148': 0.0, '149': 0.0, '15': 0.0, '150': 0.0, '151': 0.0, '152': 0.0, '153': 0.0, '154': 0.0, '155': 0.0, '156': 0.0, '16': 0.0, '17': 0.0, '18': 0.0, '19': 0.0, '2': 0.0, '20': 0.0, '21': 0.0, '22': 0.0, '23': 0.0, '24': 0.0, '25': 0.0, '26': 0.0, '27': 0.0, '28': 0.0, '29': 0.0, '3': 0.0, '30': 0.0, '31': 0.0, '32': 0.0, '33': 0.0, '34': 0.0, '35': 0.0, '36': 0.0, '37': 0.0, '38': 0.0, '39': 0.0, '4': 0.0, '40': 0.0, '41': 0.0, '42': 0.0, '43': 0.0, '44': 0.0, '45': 0.0, '46': 0.0, '47': 0.0, '48': 0.0, '49': 0.0, '5': 0.0, '50': 0.0, '51': 0.0, '52': 0.0, '53': 0.0, '54': 0.0, '55': 0.0, '56': 0.0, '57': 0.0, '58': 0.0, '59': 0.0, '6': 0.0, '60': 0.0, '61': 0.0, '62': 0.0, '63': 0.0, '64': 0.0, '65': 0.0, '66': 0.0, '67': 0.0, '68': 0.0, '69': 0.0, '7': 0.0, '70': 0.0, '71': 0.0, '72': 0.0, '73': 1.0, '74': 0.0, '75': 0.0, '76': 0.0, '77': 0.0, '78': 0.0, '79': 0.0, '8': 1.0, '80': 0.0, '81': 0.0, '82': 0.0, '83': 0.0, '84': 0.0, '85': 0.0, '86': 0.0, '87': 0.0, '88': 0.0, '89': 0.0, '9': 0.0, '90': 0.0, '91': 0.0, '92': 0.0, '93': 0.0, '94': 0.0, '95': 0.0, '96': 0.0, '97': 0.0, '98': 1.0, '99': 0.0}
0.0

In [10]:
print(cqm.check_feasible(sampleset. first.sample))

False

In [11]:
im['original'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18])

In [29]:
df = None
dsg.selected_feasible_solution
for i, station_num in enumerate(dsg.selected_feasible_solution):
    if df is None:
        df = im[(im['speed'] == 60) & (im['station_index'] == station_num) & (im['original'] == i)]
    else:
        df = pd.concat([df, im[(im['speed'] == 60) & (im['station_index'] == station_num) & (im['original'] == i)]])
df

,car_type,entry_node_index,entry_timestamp,exit_node_index,entry_energy,original,entry_kilometer,exit_kilometer,speed,station_index,station_kilometer,station_timestamp,station_energy,charging_time,max_kilometers
1,1,0,1084,6,0.15,0,0,75,60,1,39,3424,0.030310,4601.618182,48.876404
5,0,0,4114,5,0.75,1,0,56,60,1,39,6454,0.486750,2351.618182,111.111111
16,1,4,4976,5,0.64,2,28,56,60,2,46,6056,0.584759,1970.509091,208.539326
25,1,2,4605,5,0.61,3,16,56,60,1,39,5985,0.539414,2185.690909,198.764045
34,1,4,6338,5,0.66,4,28,56,60,0,29,6398,0.656931,1628.018182,215.056180
46,1,4,4959,6,0.52,5,28,75,60,2,46,6039,0.464759,2539.963636,169.438202
56,1,2,3701,8,0.56,6,16,100,60,2,46,5501,0.467931,2524.909091,182.471910
65,1,3,5776,5,0.73,7,26,56,60,1,39,6556,0.690103,1470.600000,237.865169
77,1,3,1613,8,0.45,8,26,100,60,3,77,4673,0.293483,3352.745455,146.629213
87,1,2,1867,7,0.53,9,16,79,60,3,77,5527,0.342793,3118.745455,172.696629
94,1,4,6054,7,0.60,10,28,79,60,0,29,6114,0.596931,1912.745455,195.505618
107,1,4,4041,7,0.93,11,28,79,60,3,77,6981,0.779621,1045.800000,303.033708
115,1,5,1796,8,0.30,12,56,100,60,4,95,4136,0.180310,3889.800000,97.752809
122,1,3,3310,8,0.91,13,26,100,60,4,95,7450,0.698241,1431.981818,296.516854
131,1,1,0,8,0.33,14,12,100,60,3,77,3900,0.130517,4126.090909,107.528090
138,0,5,3262,8,0.77,15,56,100,60,4,95,5602,0.506750,2259.981818,114.074074
142,0,4,3563,6,0.28,16,28,75,60,1,39,4223,0.205750,3639.109091,41.481481
148,1,5,4312,8,0.83,17,56,100,60,4,95,6652,0.710310,1374.709091,270.449438
153,0,1,1793,5,0.35,18,12,56,60,2,46,3833,0.120500,4029.709091,51.851852

In [13]:
filtered_sample = [int(k) for k, v in sampleset.first.sample.items() if v == 1]
print(filtered_sample)
im.loc[filtered_sample]

[0, 130, 142, 73, 8, 98]

,car_type,entry_node_index,entry_timestamp,exit_node_index,entry_energy,original,entry_kilometer,exit_kilometer,speed,station_index,station_kilometer,station_timestamp,station_energy,charging_time,max_kilometers
0,1,0,1084,6,0.15,0,0,75,60,0,29,2824,0.061000,4455.981818,48.876404
130,1,1,0,8,0.33,14,12,100,60,2,46,2040,0.225655,3674.618182,107.528090
142,0,4,3563,6,0.28,16,28,75,60,1,39,4223,0.205750,3639.109091,41.481481
73,1,3,5776,5,0.73,7,26,56,70,4,95,9325,0.425448,2726.509091,165.390625
8,0,0,4114,5,0.75,1,0,56,60,4,95,9814,0.108750,4083.545455,111.111111
98,1,4,6054,7,0.60,10,28,79,60,4,95,10074,0.394379,2873.945455,195.505618